@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Norwester';
	src: url('./fonts/norwester.woff2') format('woff2'),
		url('./fonts/norwester.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: 'Norwester', sans-serif;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
}

.link-menu:hover {
	animation: shake 0.5s ease-in-out infinite;
}
